<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>only-recipes</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
</head>

<body>
  {{!-- handle bars for other views --}}
 {{!-- {{{body}}}  --}}
 {{!-- header for login --}}
  <div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <img src="Recipes-removebg-preview-cropped.png" alt="logo" width="80" height="80">
        <a class="navbar-brand" href="/">Only Recipes</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto ">
              {{!-- only show sign up option --}}
              <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item pill gold">
                  <a class="nav-link" href="/login">Log In</a>
              </li>
              <li class="nav-item pill grey">
                  <a class="nav-link" href="/signup">Sign Up</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/editprofile">Edit Profile</a>
              </li>
            </ul>
        </div>
    </nav>
</div>
<main>
  <div class="gallery">
    {{!-- define login and sign up card --}}
      {{!-- login card --}}
      <div class="login-card">
        <h2 class="page-title">Login</h2>
        {{!-- login form --}}
        <form class="form login-form">
          <div class="form-group">
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">login</button>
          </div>
        </form>
      </div>

    <script src="./js/login.js"></script>
  </div>
</main>
</body>

</html>