
<main>
  <div class="gallery">
      {{!-- add recipe card --}}
      <div class="recipe-card">
        <h2 class="page-title">Add Your Recipe!</h2>
        <form class="form addrecipe-form">
          {{!-- recipe form --}}
          <div class="form-group">
            <label for="recipe-signup">Recipe Name:</label>
            <input class="form-input" type="text" id="recipe-name" />
          </div>
          <div class="form-group">
            <label for="recipe-signup">Description:</label>
            <input class="form-input" type="text" id="recipe-description" />
          </div>
          <div class="form-group">
            <label for="recipe-signup">Ingredients:</label>
            <input class="form-input" type="text" id="recipe-ingredients" />
          </div>
          <div class="form-group">
            <label for="recipe-signup">Servings:</label>
            <input class="form-input" type="text" id="recipe-servings" />
          </div>
          <div class="form-group">
            <label for="recipe-signup">Prep Time:</label>
            <input class="form-input" type="text" id="recipe-preptime" />
          </div>
          <div class="form-group">
            <label for="recipe-signup">Image:</label>
            <input class="form-input" type="text" id="recipe-image" />
          </div>
          <div class="form-group">
            <label for="recipe-signup">Cook Time:</label>
            <input class="form-input" type="text" id="recipe-cooktime" />
          </div>
          <div class="form-group">
            <label for="recipe-signup">Total Time:</label>
            <input class="form-input" type="text" id="recipe-totaltime" />
          </div>
          <div class="form-group">
            <label for="recipe-signup">Instructions:</label>
            <input class="form-input" type="text" id="recipe-instructions">
          <div class="form-group">
            <label for="recipe-signup">Allergens:</label>
            <input class="form-input" type="text" id="recipe-allergens" />
          </div>
          <div class="form-group">
            <label for="recipe-signup">Difficulty:</label>
            <input class="form-input" type="text" id="recipe-difficulty" />
          </div>
          <div class="form-group">
            <button class="btn gold" type="submit">Add Recipe!</button>
          </div>
        </form>
      </div>
    </div>

    <script src="./js/addrecipe.js"></script>
  </div>
</main>
