{{!-- header for homepage --}}
 <header>
  <nav class="navbar navbar-expand-lg">
      <div id="logo">
        <img src="/Recipes-removebg-preview-cropped.png" alt="logo" width="120" height="120">
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto ">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {{#if loggedIn}}
              <li class="nav-item pill gold">
                <a id="logout"class="nav-link">Log Out</a> 

              <li class="nav-item">
              <a class="nav-link" href="/addRecipe?id={{userId}}">Add Recipe</a>
              </li>
            {{else}}
  
              {{!-- only show sign up option --}}
              <li class="nav-item pill gold">
                  <a class="nav-link" href="/login">Log In</a> 
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/signup">Sign Up</a>
              </li>

            {{/if}}
          </ul>
      </div>
    </nav>
</header>

{{!-- <div class="gallery"> --}}
  <body class="background"></body>
  
<main>
  {{!-- handle bars for other views --}}
  {{#if loggedIn}}
    {{!-- load up profile detail --}}
    {{> profile-details }}

    <script src="/js/logout.js"></script>
    
  {{else}}

  <body class="background">


  
  <div class="container">
    <a href="/login" style="width: 100%; height: 150px;">
      <img src="/new-browse.png" class="img-fluid rounded" style="box-shadow: 0 0 10px #000000; cursor: pointer; transition: all 0.2s ease-in-out; width:100%; height:150px; margin: 0 auto;" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 0 15px #000000'; document.querySelector('h1').style.display='block';" onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='0 0 10px #000000'; document.querySelector('h1').style.display='none';">
    </a>
  </div>
  <div class="container">
    <a href="/login" style="width: 100%; height: 150px;">
      <img src="/new-share.png" class="img-fluid rounded" style="box-shadow: 0 0 10px #000000; cursor: pointer; transition: all 0.2s ease-in-out; width:100%; height:150px; margin: 0 auto;" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 0 15px #000000'; document.querySelector('h1').style.display='block';" onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='0 0 10px #000000'; document.querySelector('h1').style.display='none';">
    </a>
  </div>
  <div class="container" style="margin 0 auto;">
    <a href="/login" style="width: 100%; height: 150px;">
      <img src="/new-learn.png" class="img-fluid rounded" style="box-shadow: 0 0 10px #000000; cursor: pointer; transition: all 0.2s ease-in-out; width:100%; height:150px; margin: 0 auto;" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 0 15px #000000'; document.querySelector('h1').style.display='block';" onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='0 0 10px #000000'; document.querySelector('h1').style.display='none';">
    </a>
  </div>
</body>
  
  {{/if}}

</div>
</main>


